# Homework4

Firstly, import all the packages, pandas, numpy, ipywidgets, and matplotlib

In [1]:
import pandas as pd
import numpy as np
import ipywidgets
import matplotlib.pyplot as plt

import bigfoot dataset from url

Adding parse_dates = ["date"] from the tips& Tricks of homework 4 description.

In [2]:
bf = pd.read_csv('https://raw.githubusercontent.com/UIUC-iSchool-DataViz/is445_bcubcg_fall2022/main/data/bfro_reports_fall2022.csv',
                parse_dates=["date"])

Now check the data head by using describe and head.

In [3]:
bf.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed,location
0,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaT,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,"the road is off us rt 80, i dont know the exit...",Warren County,New Jersey,Fall,NaN,NaN,NaN,NaT,438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,55269.0,...,0.001,0.7,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49,POINT(-72.33093000000001 43.415490000000005)
3,I was northeast of Macy Nebraska along the Mis...,Latitude & Longitude : 42.158230 -96.344197,Thurston County,Nebraska,Spring,Report 59757: Possible daylight sighting of a ...,42.15685,-96.34203,2018-05-25,59757.0,...,0.000,0.0,NaN,1008.07,Partly cloudy in the morning.,10.0,8.25,193.0,3.33,POINT(-96.34203000000001 42.15685)
4,"While this incident occurred a long time ago, ...","Ward County, Just outside of a the Minuteman T...",Ward County,North Dakota,Spring,Report 751: Hunter describes described being s...,48.25422,-101.31660,2000-04-21,751.0,...,NaN,NaN,rain,1011.47,Partly cloudy until evening.,6.0,10.00,237.0,11.14,POINT(-101.3166 48.254220000000004)

In [4]:
bf.describe()

,latitude,longitude,number,temperature_high,temperature_mid,temperature_low,dew_point,humidity,cloud_cover,moon_phase,precip_intensity,precip_probability,pressure,uv_index,visibility,wind_bearing,wind_speed
count,3797.000000,3797.000000,4747.000000,3098.000000,2950.000000,2953.000000,3133.000000,3133.000000,2853.000000,3156.000000,2493.000000,2493.000000,2411.000000,3156.000000,2817.000000,3147.000000,3149.000000
mean,39.311637,-97.447604,19081.481567,67.053050,57.805614,48.638446,46.174121,0.704721,0.438531,0.497624,0.005478,0.294541,1017.113567,5.128010,8.462609,195.692088,3.743096
std,5.701640,16.703111,16732.908928,17.874441,16.493338,16.046758,16.499250,0.160782,0.333689,0.288805,0.051830,0.422387,6.118237,3.148027,2.064215,96.536813,3.268763
min,25.141000,-167.131000,60.000000,-0.620000,-8.455000,-22.780000,-11.210000,0.130000,0.000000,0.000000,0.000000,0.000000,980.340000,0.000000,0.740000,0.000000,0.000000
25%,35.301460,-117.202200,4135.500000,55.020000,46.695000,37.420000,34.680000,0.620000,0.120000,0.250000,0.000000,0.000000,1013.505000,3.000000,7.620000,127.000000,1.250000
50%,39.250000,-91.647190,13718.000000,69.980000,59.360000,49.490000,46.590000,0.730000,0.400000,0.490000,0.000000,0.000000,1016.980000,5.000000,9.410000,202.000000,2.730000
75%,43.814950,-83.135850,29415.500000,81.137500,70.400000,60.830000,58.990000,0.820000,0.730000,0.750000,0.001200,0.740000,1020.630000,8.000000,10.000000,272.000000,5.400000
max,64.891390,-68.840500,62449.000000,106.510000,94.030000,84.340000,77.400000,1.000000,1.000000,0.990000,2.069000,1.000000,1042.410000,13.000000,10.000000,359.000000,23.940000

## Plot 1

### Allows the user to change the x and y fields on a scatter plot from the Bigfoot dataset.  Here the "fields" are the names of the columns in the dataset.  (Do you want the user to be able to pick any 2 columns?  Or only certain columns?  Why or why not?). You must support the selection of at least 1 categorical column and at least 1 numerical column in for each of x and y.  Note: you don't have to support both axis having a categorical variable (unless you really want to!).
### Allows the user to pick their marker type (type must include two or more choices, see matplotlib marker docsLinks to an external site.) and the variable used to determine the marker colors (i.e. the color scale).  For reference: in class we saw an example of this for the BigFoot dataset using the pressure variable. Additionally, you can use a fixed colormap or allow your user to change the colormap with a widget (this is not required however).

Firstly, import the matplotlib.markers list from https://matplotlib.org/stable/api/markers_api.html

In [5]:
list = [".", ",", "o", "v", "^", "<", ">", "1", "2","3", "4", "8", "s", "p", "P", "*", "h", "H", "+", "x", "X", "D", "d", "|", "_"]

Then, use the ipywidget package to set parameter and the interactive drop down menus.

In [6]:
@ipywidgets.interact(x_axis=bf.columns, y_axis=bf.columns, marker=list, color_bar=ipywidgets.ColorPicker())

def plot1(x_axis='date', y_axis='humidity', marker='.', color_bar=''):
    plt.plot(bf[x_axis], bf[y_axis],marker, color=color_bar)
    plt.title('The relationship')
    plt.xlabel(x_axis, fontsize=10)
    plt.ylabel(y_axis, fontsize=10)
    plt.show()

interactive(children=(Dropdown(description='x_axis', index=8, options=('observed', 'location_details', 'countyâ€¦

The plot demonstrates that if a category property is selected as the x-axis or y-axis, the spot will be in lines and gathered into a graph which means nothing. So, we cannot allowing users to select any two columns. There are just two options: disparate categories columns or numeric columns. And the users should not have the chance to select any x axis or y axis.

## Plot 2

### Build a second widget that displays binned, aggregate values of a column where you can change:
### The field to "bin".  (Do you want the user to be able to pick any 2 columns?  Or only certain columns?  Why or why not?). You must support the selection of at least 1 categorical column and at least 1 numerical column.
### For numerical variables: The number of bins.  (Note: its OK if the binning widget is still present for non-numerical data, but it should have no effect on your plot).

In [7]:
islider = ipywidgets.IntSlider(min=5,max=20,step=1, orientation='horizontal')

some code from week4's class note and website of https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.hist.html and https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.bar.html

In order to display binned, aggregate values of a column where I can change, I used the ipywidgets and slide bar. I used the bar chart since it may adjust the width and make each column presented independently.

In [8]:
@ipywidgets.interact(ColumnName=bf.columns, WidthNumber=islider)
def plot2(ColumnName='humidity', WidthNumber=5):
    plt.figure(figsize=(10,5))
    
    if bf[ColumnName].dtypes is object:
        index = bf[ColumnName].value_counts().index
        value = bf[ColumnName].value_counts().values
        plt.bar(index, value, width=0.5)
    else:
        plt.hist(bf[ColumnName], bins=WidthNumber)
    plt.xlabel(ColumnName, fontsize=10)
    plt.ylabel('Numbers', fontsize=10)
    plt.show()

interactive(children=(Dropdown(description='ColumnName', index=16, options=('observed', 'location_details', 'câ€¦

I don't want the user to be able to pick any 2 columns because there are some column with too few variables and make people hard to see what visualzaiton is presenting.